html {
  box-sizing: border-box;
  font-size: 62.5%;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

/* __________ Header (logos) __________ */
header {
  background-color: #ecebf3;
  color: #fff;
  padding:  0 15px;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo img {
  width: 5rem;
  height: auto;
}

#logo-one {
  width: 9rem;
}

/* Body */

body {
  background-color: #f3f5fc;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Utilities */
.bold {
  font-weight: bold;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.grid {
  display: grid;
}

.exclamation {
  border-radius: 50%;
  color: #e8ecf8;
  padding: 0.35rem 1rem;
  background-color: #757882;
}

.padding-user {
  padding: 0;
}

.padding-result {
  padding: 3.2rem;
}

.display-none {
  display: none;
}

@media (min-width: 1080px) {
  .padding-user {
    padding: 3.2rem;
  }
}

/* _____ Main _____ */

main {
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
  grid-template-rows: 2fr 1fr;
  gap: 3rem;
}

.user {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  text-transform: lowercase;
  font-size: 1.75rem;
  width: 100%;
  display: block;
  background-color: unset;
  margin: 1.5rem auto;
  padding: 3rem 10px;
  resize: none;
  height: 65%;
  border: 2px solid #0dcaf0; /* Borde con color */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 0 20px rgba(4, 79, 129, 0.8); /* Sombra azul más intensa */
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  font-weight: bolder;
  color: #85b9f8;
}

*:disabled {
  background-color: transparent;
  color: #000;
  cursor: text;
}

label {
  font-size: 1.5rem;
  color: #757882;
}

.flex-button {
  gap: 2rem;
  padding-top: 2rem;
  justify-content: space-around;
}

button {
  font-size: 1.75rem;
  border-radius: 2.4rem;
  width: 100%;
}

/* buttons */
.btn {
  color: #ffffff;
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  margin: 15px 0;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.5);
}

.btn-1 {
  background-color: #eb3838;
}

.btn-2 {
  background-color: #48fc30;
}

.btn-3 {
  background-color: #72b7c4;
}

.btn .text {
  width: 0px;
  color: #ffffff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}

.btn:hover .text {
  width: 100px;
  opacity: 1;
}

.btn:hover {
  box-shadow: -15px 10px 10px rgb(116, 115, 119);
}


/* MediaQueries */
@media (min-width: 1080px) {
  main {
    width: 75%;
    grid-template-rows: none;
    grid-template-columns: 2fr 1fr;
  }
  .logo {
    width: 5rem;
  }
  .user {
    flex: 2;
  }
  textarea {
    font-size: 2.5rem;
    margin: 3rem auto;
    height: 80%;
  }
  button {
    font-size: 2rem;
  }
}

/* Translation */
.translation {
  z-index: 10;
  flex-direction: column;
  border-radius: 3.2rem;
  background-color: #fff;
}

.not-found {
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found img {
  display: none;
}

.empty {
  font-size: 2rem;
}

.empty-legend {
  font-size: 1.5rem;
}

.text-found {
  justify-content: space-between;
}

@media (min-width: 1080px) {
  .not-found img {
    width: 75%;
    display: unset;
  }
  textarea {
    height: 500px;
  }
}

@media (max-width: 1080px) {
  textarea {
    height: 400px;
  }
  footer {
    margin-top: 600px;
  }
}

/* ___________ Footer ___________ */
footer {
  background: #111;
  height: auto;
  width: 100%;
  font-family: Monospace;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-content img {
  width: 150px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 2.5rem;
  transition: color 0.4s ease;
  transition: 1s;
}

.socials a:hover i {
  transform: scale(1.5);
  transition: 0.5s;
  color: #0dcaf0;
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 200;
}

.footer-bottom span a {
  text-decoration: none;
  color: #0dcaf0;;
}